<!DOCTYPE html>
<html class="dark">
  <head>
    <title>Tutorials World</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans antialiased duration-500 transform dark:bg-black">
    <div data-behavior="vue">
      <div>
        <dark-mode-toggle></dark-mode-toggle>
      </div>
      <div class="container-block">
        <div class="relative inside-container">
          <%= render "layouts/alerts" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
